{% extends "base.html" %}

{% block title %}
<title>User control | Users</title>
{% endblock %}

{% block content %}
{% for user in users %}
    <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl m-3">
        <div class="md:flex">
            <div class="md:flex-shrink-0">
                <img class="h-48 w-full object-cover md:w-48" src="{{ user.images.0 }}" alt="User image">
            </div>
            <div class="p-8">
                <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">ID: {{ user.identifier }}</div>
                <p class="block mt-1 text-lg leading-tight font-medium text-black">{{ user.name }} {{ user.surname }}</p>
                <a href="{% url 'edit_user' user.id %}" class="mt-4 inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition bg-[#002D74] rounded shadow ripple hover:shadow-lg hover:bg-[#dcdcdc] hover:scale-105 duration-100 focus:outline-none">
                    Edit
                </a>
                <a href="{% url 'delete_user' user.id %}" onclick="return confirm('Are you sure you want to delete this user?')" class="mt-4 ml-4 inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition bg-red-700 rounded shadow ripple hover:shadow-lg hover:bg-[#dcdcdc] hover:scale-105 duration-100 focus:outline-none">
                    Delete user
                </a>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}